@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* 1rem = 10px */
	box-sizing: border-box;
	font-size: 62.5%;
	background-color: theme(colors.white);
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font-size: 1.6rem;
	color: theme(colors.black);
	min-height: 100%;
}
