@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: theme(colors.gray.100);
}
